.left-section{
    display:flex;
    flex-direction: column;
    flex:1;
    height: 100%;
    justify-content: space-between;
    min-width:325px;
   }

   .right-section{
    border-radius: 7px;
    flex:1.4;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: end;
   }

   .left-section > .div1, .div2, .div3{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .left-section > .div1 {
    flex:1;
   }
   .left-section >.div2{
/*     flex: 3; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   	height: 48%;
    width: 98%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 8px #c1c1c1;
   }
   .left-section > .div2 .div2-1-1-1{
    width: 11em;
    height: 11em;
    /* height: 100%; */
    /* height: min-content; */
    border: 1px solid black;
    border-radius: 40%;
    overflow: hidden;
    min-width: 125px;
   }
   
   .left-section > .div2 .div2-1-1-1 img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
    }
   .left-section >.div2 > .div2-1,.div2-2,.div2-3{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .left-section > .div2 > .div2-1{
     	display: flex;
      	justify-content: center;
      	align-items: center;
      	flex:2;
     	width: 100%;
     	padding: 15px 6% 0;
    	box-sizing: border-box;
   }
   
   .div2-1-1, .div2-1-2,  .div2-1-3{
       display: flex;
       flex:4;
       align-items: center;
       width:100%;
       justify-content: space-between;
   }
   .div2 > .div2-1 > .div2-1-3{
       flex:1;
       justify-content: start;
       font-weight: bold;
/*        padding: 5px 35px; */
       box-sizing: border-box;
   }
   .div2 > .div2-2{
       display: flex;
       justify-content: center;
       flex-direction: row;
       flex: 0.8;
       width: 100%;


   }
   .div3{
/*     flex: 3; */
	flex-direction : column;
    height: 48%;
    width: 98%;
    background-color: white;  
    border-radius: 7px; 
    box-shadow: 1px 1px 8px #c1c1c1;
    justify-content: start;
    align-items: center;
    
   }
   
    #enterpop, #leavepop{
    width: 100vw;
    height: calc(100% - 60px);
    position: absolute;
    background-color: #4c4c4c94;;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 0.3s;
    z-index:1;
    padding: 5%;
    box-sizing: border-box;
   }
	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
   
   .pop-container{
    background-color: white;
    width: 500px;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);  
    border: 1px solid #bbb9b9;
    border-radius: 7px;
    
}
    .pop2 {
   	height: 180px;
    background-color: gray;
    border-radius: 40%;
    overflow: hidden;
    box-shadow: 0px 0 20px 0px #b6f1ff;
	}
	#leavepop .pop2 {
    box-shadow: 0px 0 20px 0px #939393;
	}
   .pop2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
   }
   .pop1 {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
   }
   .pop1 span{
    width: 70%;
    text-align: -webkit-center;
    color: #727272;
   }
   .pop1 a {
    text-decoration: none;
    padding: 20px;
   }
   .pop3 {
  	display: flex;
    height: 28%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     font-weight: bold; */
/*     letter-spacing: 1px; */
    }
	.pop3 p span{
/* 		color : black; */
	}
   .pop4 {
    display: flex;
    justify-content: center;
    width:100%;
    height: 17%;
   }
   .pop4 form{
    width: 70%;
   }
   #enterpop .pop4 form button{
    width: 100%;
    height: 45px;
    background-color: #3fb4d0;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition-duration : 0.2s;
   }
   #enterpop .pop4 form button:hover{
   background-color: #2e8ea5;
   }
  
   
   #leavepop .pop4 form button{
    width: 100%;
    height: 45px;
    background-color: #272454;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition-duration : 0.2s;
   }
   #leavepop .pop4 form button:hover{
   background-color: #1c1b20;
   }
   

    
    .container-inner-bbs{
    	flex-direction: column;
    	justify-content: center;
    }
    .inner-div-bbs{
    	flex-direction: row;
    	height: 85%;
    	padding: 0;
    	background: #f0f5fa;
    	box-shadow:none;
    }
    .greating{
    	display:flex;
    	width: 90%;
    	font-size : 14px;
    	padding: 15px;
    	box-sizing: border-box;
    }
    .div4{
    box-sizing: border-box;
    padding: 3% 0;
    height: 62%;
    width: 98%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 8px #c1c1c1;
   	display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    }
    
    .div1{
    padding: 2%;
    width: 98%;
    height: 34%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 8px #c1c1c1;
    box-sizing: border-box;
    }
    .div2-1-1-2 {
    width: 57%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    
    }
    .div2-1-1-2 .infoEcheckAdmin img {
	padding-right: 4px;
    position: relative;
    top: 3px;
    }
    .infoEname{
    font-size:1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    }
    .infoEcheckAdmin{
     color: #7c7c7c;
    font-size: 0.9em;
    display: flex;
    justify-content: left;
    align-items: center;
    }
    .infoEmpno{
    font-size: 1em;
    letter-spacing: 1px;
    }
    .infoEposition{
    
    }
    
    
    .div2-1-1-2 p span {
/*     	color: #2196f3; */
    }
   	.div2-1-1-2 > .buttons{
    display: flex;
    height: 35%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
   	}
   	
   	#enter {
	width: 44%;
	height: 73%;
/*     background: linear-gradient(#319af3, #005dab); */
    background-color: #373462;
    /* background: linear-gradient(#319af3, #005dab); */
    box-shadow: 3px 4px 6px #c7c7c7;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #enter:hover {
/*     background: linear-gradient(#226fb1, #053d6c); */
	background-color:#161430;
    }
    #leave {
    width: 44%;
    height: 73%;
    /* height: 90%; */
    /* border: 1px solid #272454; */
    background-color: #58585c;
/* 	background: linear-gradient(#868595, #373740); */
	box-shadow: 3px 4px 6px #c7c7c7;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #leave:hover {
/*     background: linear-gradient(#70707c, #0e0e10); */
	background-color:#373740;
    }
    
    .showenter, .showleave{
   	border: 1px solid #d3d3d3;
    width: 45%;
    height: 60%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .showenter{
   	border-radius: 5px 0 0 5px ;
    }
    .showleave{
   	border-radius: 0 5px 5px  0;
    }
    
    
    
    
    
    
    
     .div3-title{
/*     width: 100%; */
/*     display: flex; */
/*     justify-content: center; */
/*     height: 10%; */
/*     align-items: flex-end; */
/*     font-weight: bold; */
  }
	.donut {
    width: calc(100% - 16px);
    padding-bottom: calc(100% - 16px);
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    text-align: center;
    transition: background .3s ease-in-out;
    background: conic-gradient(#3F8BC9 0% 72%, #F2F2F2 72% 100%);
}


.div3{
    flex-direction: row;
    width: 98%;
    /* height: 100%; */
    justify-content: space-evenly;
    align-items: center;
}
 .donuts{ 
	width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 } 
/* .day-rates{ */
/*     width: 100%; */
/*     height: 100%; */

/* } */
 .donut-container{ 
/*     height: 65%; */
}
 .donut-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 16%;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
 } 
 .donut-info span{
 	font-weight: bold;
 	color: #2196f3;
 }
 .donut-info p{
     word-break: keep-all;
 }
 .donuts-subtitle{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 13%;
    font-size: 15px;
    
 } 
 
 
 
 
 /* section calendar */





#sec_cal {
    width: 35%;
/*     margin: 0 auto; */
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    height: 16%;
}

.sec_cal .cal_nav .year-month {
    width: 58%;
    text-align: center;
    line-height: 1;
    font-size: 24px;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
/*     padding-top: 10px; */
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 210px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}
.cal-container{
    width: 91%;
    height: 87%;
    display: flex;
    justify-content: space-between;
}
#sec_cal {
	width: 40%;
}

.cal-subtitle{
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: start;
    height: 11%;
    font-size: 15px;
    margin-left: 62px;
}

.cal-container-right{
    border: 1px solid black;
    width: 52%;
}


.bbs-subtitle{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 15%;
    font-weight: bold;
    font-size: 15px;
    align-items: flex-start;
    margin-left: 14px;
 }
.bbs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80.9%;
}
.bbs-table{
    width: 91%;
    height: 90%;
    font-size: 13px;
    border-collapse: collapse;
}
.bbs-table th,.bbs-table td {
	border: none;
	padding: 5px 0px;
	text-align: center;
}  
.bbs-table a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

.bbs-table tr:nth-child(even){
background-color:#f1f1f1;
}
.bbs-table tr th{
	border-bottom :1px solid black;
}
    
    
 .hidden-link-to-bbs{
	display:none;
}
    
    
    
    
    
    
    
    
    
  
/*     .list{ */
/*      height: 90%; */
/*      width: 90%; */
/*      font-size: 0.8em; */
/*      display: flex; */
/*      justify-content: center; */
/*      align-items: start; */
/*      overflow:auto; */
/*     } */
/*     .list td { */
/*     padding: 4px; */
/*     } */
/*     .sorting{ */
/*     height: 7%; */
/*     width: 85%; */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: space-between; */
/*     font-weight: bold; */
/*     } */
/*     #sorting-year, #sorting-month{ */
/*     border:none; */
/*     } */
/*     .list-table{ */
/*     border-collapse: collapse; */
/*     border: 0px solid white; */
/*     text-align: center; */
/*     width: 95%; */
    
/*     } */
/*     .table-head{ */
/*    	border-bottom: 1px solid black; */
/*     } */
/*     .table-body{ */
/*     height: 100%; */
/*     } */
/*     .list-table tr{ */
/*  	height: 40px; */
/*  	border-bottom:1px solid black; */
/*     } */
/*     .list-table thead tr{ */
/*  	background-color:#eaf6f7; */
/*     } */
    @media ( max-width: 1624px ) {
      .left-section > .div2 .div2-1-1-1{
		    display:none;
		   }
		.div2-1-1-2 {
		    width: 100%;
		    height: 100%;
		    align-items: center;
		}
    }
    @media ( max-width: 1130px ) {
    	.bbs-table tr th:nth-child(1),
    	.bbs-table tr td:nth-child(1),
    	.bbs-table tr th:nth-child(7),
    	.bbs-table tr td:nth-child(7) {
    	display:none;
    	}
    }
   @media ( max-width: 1024px ) {
   		.container-bbs{
   		justify-content: space-around;
   		}
   
   		.inner-div-bbs {	
   		flex-direction: column;
   		justify-content: space-evenly;
   		}
	   .left-section{
	   	flex-direction:row;
	    width: 100%;
	   }
/* 	   .greating { */
/* 	    width:100%; */
/* 	   } */
	   .left-section .div2{
	   width: 62%;
	   height: 97%;
	   }
	   .left-section .div3{
	   width: 36%;
	   height: 97%;
	   }
	   .right-section{
	   width: 100%;
	   height: calc(100vh - 500px);
	   
	   }
	   .div4{
	   width: 100%;
	   height: 73%;
	   }
	   .div1{
		width: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 24%;
	   }
	   
	   .sec_cal .cal_wrap .days {
	   margin: 0;
	   padding: 0;
	   }
	   .sec_cal .cal_wrap .dates {
    	height: 133px;	
	   }
	   .sec_cal .cal_nav .year-month {
	    font-size: 16px;
	   }
	   .sec_cal .cal_nav {
	    height: 20%;
	    }
	    .cal-subtitle {
	    height: 16%;
	    }
	     .bbs-table{
     	 display: none;
    	}
    	.hidden-link-to-bbs{
    		display:block;
    	}
    	.bbs-container{
    	width: 260px;
	    border: 1px solid black;
	    border-radius: 5px;
	    background: #272454;
	    color: white;
	    font-size: bold;
	    font-weight: bold;
    	}
    	.bbs-container a{    	
	    text-decoration: none;
	    color: white;
    	}
    	.bbs-subtitle {
    	width: 30%;
    	}
   }
   @media ( max-width: 800px ) {
   		.left-section{
	   	flex-direction:column;
	    width: 100%;
	    height:45%;
	    max-height: 48%;
	   }
	   .right-section{
	    height:45%;
	    max-height: 48%;
	   }
	   .greating {
/* 	    width: 90%; */
	    max-height: 5%;
	    font-size:10px;
	   }
	   .left-section .div2{
	       width: 100%;
		    height: 68%;
		    flex-direction: row;
	   }
	   .left-section .div3{
	   width: 100%;
	   height: 30%;
	   }
	   .left-section .div4{
	   width: 100%;
	   height: 68%;
	   flex-direction: row;
	   }
	   .left-section .div1{
	   width: 100%;
	   height: 30%;
	   }
		.div2-1-1-2 {
    		width: 93%;
	    }
		.left-section > .div2 > .div2-1 {
			flex:none;
			width: 50%;
		    padding: 0;
		    height: 85%;
		}
		.left-section > .div2 > .div2-2 {
		    flex-direction: column;
		    flex: none;
		    height: 60%;
    		width: 33%;
		    justify-content: space-between;
		}
		.showenter, .showleave{
	       width: 100%;
    		height: 45%;
		}
		.infoEmpno {
	    font-size: 0.8em;
	    }
	    .infoEname {
	    font-size: 1em;
	    }
	    .div2-1-1-2 > .buttons {
	    width: 80%;
	    }
	    .left-section > .div2 .div2-1-1-1 {
	    display: none;
	    }
    	.donut {
	    display: none;
	    }
	    .donuts {
	    width: 40%;
	    height: 70%;
	    }
	   .donut-info{
	    flex-direction: row;
    	justify-content: space-between;
	   }
	   .sec_cal .cal_wrap .dates {
	    height: 0;
	    }
	    .bbs-container {
	    width: 160px;
	    height: 70%;
	    font-size: 14px;
	    }
	   
   }
    @media ( max-width: 635px ) {
     	.bbs-subtitle{
	    width: 30%;
	    height: 70%;
	    display: flex;
	    align-items: center;
	    }
    	.donut-info p {
	    font-size: 11px;
	    }
    }