#total {
	display: flex;
}

.table1 {
	text-align: center;
	width: calc(100% + 2px);
	border-spacing: 0;
}

.table1 tr:nth-child(odd) {
	background-color: #f8f8f9;
}

th, td {
	padding: 7px;
}

td {
	padding: 1%;
}

th {
	background-color: #eaf6f7;
}

.select {
	width: 100%;
}

.table {
	padding: 10px;
}

.tbtn1 {
	background-color: #c9eaec;
	padding: 7px;
	display: flex;
	justify-content: space-between;
}

.tbtn1>button {
	border: 1px solid #c0c5c9;
	background-color: white;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
	color: #6c6c6c;
}

a {
	color: black;
}

span {
	color: #54cbd4;
}

h4 {
	padding-bottom: 10px;
}

.timg {
	width: 20px;
	height: 20px;
}

.timg2 {
	margin-top: 10px;
	width: 20px;
	height: 20px;
}

.scroll {
	height: 75vh;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.intro>p {
	color: #c0c5c9;
}

.container-inner-bbs {
	height: auto;
	min-height: 90%;
}

.selectD {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#category {
	width: 25%;
	padding: 0.1%;
	padding-left: 1%;
	border: 1px solid #c9eaec;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
}

.btn1 {
	width: 25%;
	background-color: #14abab;
	color: white;
	border: #14abab;
	cursor: pointer;
}

#categoryA {
	color: black;
	text-decoration: none;
	font-size: 0.89rem;
}

#detailS {
	width: 98.8%;
	height: 100px;
	border: 1px solid #c9eaec;
	display: none;
	flex-direction: column;
	justify-content: center;
	padding-left: 1%;
}

#t1 {
	width: 60%;
}

#t2 {
	width: 70%;
}

input {
	padding: 1%;
	width: 40%;
	border-radius: 5px;
	border: 1px solid #808991;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.intro>p {
	color: #c0c5c9;
}

.styleA {
	padding: 5%;
	font-size: 0.89rem;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #808991;
	color: #808991;
}

.styleB {
	padding: 5%;
	font-size: 0.89rem;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #14abab;
	color: #14abab;
	font-weight: bold;
	box-shadow: inset 3px 3px 3px 0px rgb(0 0 0/ 20%);
}

.month {
	background-color: white;
	border-radius: 5px;
	padding: 5%;
	border: 1px solid #808991;
	color: #808991;
	font-size: 0.89rem;
}

#exit {
	cursor: pointer;
	color: #aaabad;
}

.modal_dim {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 999;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal_wrap {
	width: 40%;
	height: 70%;
	background: white;
	z-index: 100;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 90%;
	height: 90%;
}

.mdiv1 {
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5%;
}

#mspan {
	color: #14ABAB;
	font-weight: bold;
}

.mdiv1>h5 {
	margin: 5px;
}

.mdiv2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
	margin-bottom: 3%;
}

.mdiv2>h4 {
	flex: 1;
}

.mdiv2-1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
}

.minput {
	width: 75%;
	height: 50%;
}

.mdiv3 {
	width: 100%;
	height: 15%;
	border: 1px solid #aaabad;
	margin-bottom: 5%;
}

.mselect {
	display: flex;
	flex-wrap: wrap;
}

.sdiv1, .sdiv2, .sdiv3, .sdiv4 {
	width: 50%;
}

#mcategory {
	width: 98%;
	height: 50%;
	background-color: #f8fafb;
	border-radius: 0.4rem;
	margin-left: 5px;
	margin-bottom: 10%;
}

.bdiv {
	display: flex;
	justify-content: center;
	margin: 5%;
}

.mbutton {
	background-color: #14ABAB;
	border: 1px solid #14ABAB;
	color: white;
	width: 120px;
	height: 40px;
	border-radius: 0.4rem;
}
.container {
	height: auto;
}

nav {
	height: auto;
}

.scroll {
	height: 75vh;
}

.paging {
	display: flex;
}
.num{
	height: 100%;
	width: 26px;
 	margin: 0 2px; 
	border: 1px solid #14abab;;
	display: flex;
	justify-content:center;
	align-items:center;
/* 	font-weight: bold; */
 	border-radius:10px; 
	font-size:11px;
	color: black;
	}
	
	.num a{
	text-decoration : none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	.checked{
	background-color: #14abab;
	color: white;
	border: 1px solid #14abab;
	}
	
	.notchecked:hover{
	background-color: #c9eaec;
	color: black;
	border: 1px solid #c9eaec;
	}
	
	.paging {
		width: 100%;
	    justify-content: center;
	    padding-top: 1%;
	    height: auto;
	    align-items: center;
	}