/* 가장 큰 틀 */
.container-wrap{
/*     width:100vw; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height:60px;
    background-color: #272454;
	box-sizing: border-box;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > img{
	width: 90px;
	object-fit: cover;
}
.header > .header-logout, .header > .header-logout a:visited, .header > .header-logout a:link{
	color:white;
}
.header > .header-logout a:hover{
	color: #c1c1c1;
}
.container{
    width:100%;
    display: flex;
}
.container-inner{
    width: calc(100% - 210px);
    height:calc(100vh - 60px);
    background-color:#f0f5fa;
}


/* 게시판 template inner 하얀 배경 */
.container-inner-bbs {
	width: calc(100% - 210px);
	/**/
    min-height:calc(100vh - 60px);
    background-color:#f0f5fa;
	display:flex;
	justify-content:center;
	align-items: flex-start;
	padding: 3%;
    box-sizing: border-box;
	
}
.inner-div-bbs{
/*    background-color:white; */
/*    width: 90%; */
/*    min-height: 90%; */
/*    display: flex; */
/*    flex-direction: column; */
/*    align-items: center; */
/*    padding: 3%; */
/*    border-radius : 7px; */
/*    box-sizing: border-box; */
/*    box-shadow: 1px 1px 8px #c1c1c1; */
   
    background-color: white;
    width: 100%;
    /* height: 90%; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px #c1c1c1;
  }
 .navbar__toogleBtn{
	display: none;
}
@media screen and (max-width: 500px) {
	.toggle-block {
	    display: flex;
	    justify-content: center;
	    
	}
	.menuwrap{
		width: 65%;
	}
	
}