	.list{
     height: 90%;
     width: 90%;
     font-size: 0.8em;
     display: flex;
     justify-content: center;
     align-items: start;
    }
    .list td {
    padding: 4px;
    }
    .sorting{
    height: 12%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    }
    #sorting-year, #sorting-month{
    border:none;
    }
    .list-table{
    border-collapse: collapse;
    border: 0px solid white;
    text-align: center;
    width: 95%;
    
    }
    .table-head{
   	border-bottom: 1px solid black;
    }
    .table-body{
    height: 100%;
    }
    .list-table tr{
 	height: 40px;
 	border-bottom:1px solid black;
    }
    .list-table thead tr{
 	background-color:#eaf6f7;
    }