.container {
	height: auto;
}

nav {
	height: auto;
}

/*---------------------------------*/


#total {
	display: flex;
}

.table1 {
	text-align: center;
	width: calc(100% + 2px);
	border-spacing: 0;
}

.table1 tr:nth-child(odd) {
	background-color: #f8f8f9;
}

th, td {
	padding: 7px;
}

td {
	padding: 1%;
}

th {
	background-color: #e3edf7;
}

.select {
	width: 100%;
}

.table {
	padding: 10px;
}


a {
	color: black;
}

span {
	color: #54cbd4;
}

h4 {
	padding-bottom: 10px;
}

.timg {
	width: 20px;
	height: 20px;
}

.timg2 {
	margin-top: 10px;
	width: 20px;
	height: 20px;
}

.scroll {
	height: 75vh;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.intro>p {
	color: #c0c5c9;
}

.container-inner-bbs {
	height: auto;
	min-height: 90%;
}

.selectD {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#category {
	width: 25%;
	padding: 0.1%;
	padding-left: 1%;
	border: 1px solid #b8bfc4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
}

.btn1 {
	width: 25%;
	background-color: #272454;
	color: white;
	border: #272454;
	cursor: pointer;
}


#detailS {
	width: 98.8%;
	height: 100px;
	border: 1px solid #c9eaec;
	display: none;
	flex-direction: column;
	justify-content: center;
	padding-left: 1%;
}

input {
	padding: 1%;
	width: 40%;
	border: 1px solid #808991;
}

.intro {
	display: flex;
	justify-content: space-between;
}

.intro>p {
	color: #c0c5c9;
}


.container {
	height: auto;
}

nav {
	height: auto;
}

.scroll {
	height: 75vh;
}

.paging {
	display: flex;
}
.num{
	height: 100%;
	width: 26px;
 	margin: 0 2px; 
	border: 1px solid #272454;
	display: flex;
	justify-content:center;
	align-items:center;
/* 	font-weight: bold; */
 	border-radius:10px; 
	font-size:11px;
	color: black;
	}
	
	.num a{
	text-decoration : none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	.checked{
	background-color: #272454;
	color: white;
	border: 1px solid #272454;
	}
	
	.notchecked:hover{
	background-color: #959595;
	color: black;
	border: 1px solid #959595;
	}
	
	.paging {
		width: 100%;
	    justify-content: center;
	    padding-top: 1%;
	    height: auto;
	    align-items: center;
	}