body {
	font-family: 'Nanum Barun Gothic', sans-serif;
}

.inner-div-bbs {
	display: inline-block;
	
	display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.bbs-header {
	display: flex;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	
/* 	justify-content: start; */
    width: 100%;
    height:10%;
    
}

.title {
	display: flex;
	box-sizing: border-box;
}

.title h3 {
	font-family: 'NanumSquare', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 3.6rem;
	color: #212529;
}

.wrbtn {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 5rem;
}

.wrbtn a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	font-size: 1rem;
	color: #fff;
	background-color: #232249;
	border-radius: 0.4rem;
	text-decoration: none;
}

.helpBar {
	/* border: 1px solid black; */
	display: flex;
	justify-content: right;
	align-items: center;
/* 	height: 3rem; */
/* 	padding-bottom: 0.8rem; */
	
    width: 100%;
    height: 8%;
}

.search-wrap {
	border: 1px solid gray;
/* 	border-radius: 0.4rem; */
/* 	padding: 0.1rem; */
	
	border-radius: 1rem;
	overflow: hidden;
	height: 30px;
	/* height: 63%; */
	box-shadow : 0px 2px 2px #c9c9c9;
	
}

.helpBar select {
	width: 6rem;
	height: 1.5rem;
	border-style: none;
	text-align: center;
}

.helpBar input {
	width: 20rem;
	height: 1.5rem;
	border-style: none;
}

.helpBar select, .helpBar input:focus {
	outline: none;
}

#search {
	border: none;
/* 	border-radius: 0.4rem; */
/* 	box-sizing: border-box; */
/* 	padding: 0.5rem 1rem; */
/* 	width: 1.4rem; */
/* 	height: 1.4rem; */
/* 	background-image: url(https://uinnout.com/admin/images/search.svg); */
/* 	background-repeat: no-repeat; */
/* 	background-size: contain; */
	background-color: #fff;
	cursor: pointer;
	
/* 	border: 1px solid black; */
    width: 60px;
    height: 100%;
}
#search:hover{
	background-color: #f0f3f7;
}

.main {
/* 	height: auto; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	box-sizing: border-box; */
/* 	font-size: 0.9em; */
	
	
	display: flex;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    font-size: 0.9em;
    width: 100%;
    height: 70%;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: -webkit-fill-available;
	font-size: 0.9em;
}

thead tr {
	border-top: 2px solid #909294;
	border-bottom: 2px solid #909294;
/* 	border-bottom: 1px solid #b3c2d1; */
	
}

tbody tr {
	border-bottom: 1px solid #b3c2d1;
}

tbody tr:last-child {
	border-bottom: 2px solid #909294;
}

/* tbody tr td:nth-child(2) { */
/*      width: 200px; */
/* } */

tbody tr td:nth-child(3) {
	display: flex;
    justify-content: left;
    align-items: center;
}

table td, table th {
	text-align: center;	
    line-height: 2.8rem;
}

table a {
	text-decoration: none;
	color: #0459c1;
	overflow: hidden;
	font-size: 1rem;
}

table th {
	font-family: 'Nanum Barun Gothic', sans-serif;
	background-color: white;
	color: rgb(0, 0, 0);
}

.bbs-footer {
    padding: 2rem;
    display: fixed;
    box-sizing: border-box;
    height: 10%;
	
}

#paging {
	display: flex;
	height: 30px;
	width: 100%;
	justify-content: center;
}

/* .num { */
/* 	height: 100%; */
/* 	width: 26px; */
/* 	margin: 0 2px; */
/* 	border: 1px solid #14abab;; */
/*  	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	/* 	font-weight: bold; */ */
/* 	border-radius: 10px; */
/* 	font-size: 11px; */
/* 	color: black; */
/* } */

/* .num a { */
/* 	text-decoration: none; */
/* 	height: 100%; */
/* 	width: 100%; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */

/* .checked { */
/* 	background-color: #14abab; */
/* 	color: white; */
/* 	border: 1px solid #14abab; */
/* } */

/* .notchecked:hover { */
/* 	background-color: #c9eaec; */
/* 	color: black; */
/* 	border: 1px solid #c9eaec; */
/* } */


	.select{
	height: 30px;
	width: 100%;
/* 	border: 1px solid blue; */
	padding: 5px;
	display: flex;
    justify-content: center;
	}
/* 	.select-container{ */
/* 		width: 10%; */
/* 		height: 100%; */
/* 		display:flex; */
/* 		flex-direction: row; */
/* 		justify-content: center; */
/* 	} */
	.num{
	height: 100%;
	width: 26px;
 	margin: 0 2px; 
	border: 1px solid #c1c1c1;
	display: flex;
	justify-content:center;
	align-items:center;
/* 	font-weight: bold; */
 	border-radius:3px; 
	font-size:11px;
	color: black;
	cursor: pointer;
	 
	}
	.num a{
	text-decoration : none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	
	}
	.checked{
	background-color: #272454;
	color: white;
	border: 1px solid #272454;
	}
	
	.notchecked:hover{
	background-color: #959595;
	color: black;
	border: 1px solid #959595;
	}
	
	#cilpimg {
	width: 20px;
	height: 20px;
	vertical-align: middle;
    padding: 0 5px;	
	}

