#personal {
	width: 85%;
}

.redspan {
	color: red;
}

#proimg {
	visibility: hidden;
}

#img {
	background-color: rgb(228, 223, 223);
	cursor: pointer;
	margin-left: 55%;
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
    border: 1px solid #c0c5c9;
    color: #6c6c6c;
	font-size: 0.8rem;
}

.scroll::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #f2f4f5;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.scroll::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

#showimg {
	width: 100%;
    height: 80%;
    border-radius: 100%;
	border: 1px solid black;
	box-sizing: content-box;
}

.personal-wrap {
	display: flex;
	flex-direction: row;
	height: 25.5vh;
}

.prodiv {
	width: 15%;
	padding-right: 1%;
}

.intro {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2%;
}

.intro>p {
	color: #c0c5c9;
}

table {
	border-top: 1px solid #dfe7ee;
	border-bottom: 1px solid #dfe7ee;
	margin-bottom: 10px;
	width: 100%;
}

td {
	border-bottom: 1px solid #dfe7ee;
	padding-left: 10px;
}

.label {
	background-color: #e3edf7;
	padding: 7px;
}

#noB {
	border-bottom: none;
}

input, select {
	border: #dfe7ee;
	padding: 10px;
}

.insertbtn {
	background-color: #272454;
	border: 1px solid #272454;
	color: white;
	width: 150px;
    height: 40px;
    border-radius: 5px;
}
.insertbtn:hover {
	background-color:#2b2fd2;
	border: 1px solid #2b2fd2;
}

.form1 {
	display: flex;
    flex-direction: column;
    align-items: center;
}
