* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

*:focus {
    outline: none;
}

body {
    font-family: sans-serif;
/*     height: 97vh; */
}

h2 {
    text-align: left;
    font-size: 33px;
    font-weight: 600;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: black;
    margin-left: 35px;
/*     border-bottom: 2px solid #5fbae9; */
}

/* 구조 */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
/*     padding: 20px; */
    background-color: #272454;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 100%;
    height: 47vh;
    max-width: 450px;
    min-width: 350px;
    position: relative;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 0px #8d8d8d;
    justify-content: space-evenly;
}


/* 폼 디자인 */

button {
   border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    font-size: 13px;
    box-shadow: 2px 3px 3px 0 rgb(187 187 187);
    border-radius: 5px 5px 5px 5px;
    margin: 24px 20px 24px 20px;
    transition: all 0.3s ease-in-out;
    background-color: #303030;
    font-weight: bold;
    border: none;
    width: 84%;
    cursor: pointer;
}
form{
	width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    background-color: #f9f9f9;
    color: #0d0d0d;
    height: 40px;
    /* padding: 10px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 3px #adadad;
}

input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.logo{
	    width: 19em;
	    margin-bottom: 19px;
	    margin-left: 11px;
	}
.wrapper{
 		background: linear-gradient(90deg, #a8cc66, #1d7fcf);
           background-size: 400% 400%;
           animation: AnimationName 5s ease infinite;
           position:relative
}
@keyframes AnimationName {
           0% {
               background-position: 0% 50%
           }

           50% {
               background-position: 100% 51%
           }

           100% {
               background-position: 0% 50%
           }
       }

.login-logo{
/* 	        width: 73%; */
    height: 8em;		    
  	min-width: 270px;
}
form p {
    display: flex;
    width: 85%;
    font-size: 13px;
    height: 0.7em;
    color: #686868;
}
.active{
	font-size: 28px;
}
.container{
   	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.emptydiv{
	height: 3em;
}

/*모달 배경*/
.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 999;
	display: none;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*모달*/
