
/*  	*{ */
/*         margin:0; */
/*         padding:0; */
/*     } */
/*     .total{ */
/* 	    display: flex; */
/*     } */
/*    .container{ */
/*     border: 1px solid black; */
/*     display: flex; */
/*     align-items:center; */
/*     justify-content:center; */
/*     width: 100%; */
/*     max-width: 1400px; */
/*     height: 100vh; */
/*     box-sizing: border-box; */
/*    } */
/* 	.container-inner { */
/* 	display:flex; */
/* 	justify-content:center; */
/* 	align-items:center; */

/* 	} */
/*    .inner-div{ */
/*     background-color:white; */
/*     width: 90%; */
/*     height: 90%; */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: center; */
/*     padding: 3%; */
/*     box-sizing: border-box; */
/*    } */
.inner-div-bbs {
    padding: 3% 3% 1.5%;
    justify-content: space-between;
    min-height: 100%;
}
.div1 {
	display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: baseline;
}
.div1-1{
	display: flex;
    justify-content: space-between;
/*     width: 15%; */
    width: 180px;
}

.div2{
    width: 100%;
    height: 75.9%;
   	min-height: 550px;
    display: flex;
    align-content: flex-start;
}
.sub-title{ 
/*     width: 50%; */
	width: 105px;
 } 
#sortingYear{
/* 	width:50%; */
    width: 100px;
    cursor: pointer;
}
.holiday-list{
    width: 100%;
    border-collapse: collapse;   
    text-align: center;
    height: fit-content;
}
.holiday-list tr{
	height: 2em;
}
.thead{
	border: none;
	border-bottom : 1px solid black;
}
.tbody{
	border: none;
}
#apply-holiday{
    border: 1px solid black;
/*     width: 12%; */
	width:130px;
    height: 60%;
    background-color: #272454;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
}
#apply-holiday:hover {
	background: linear-gradient(1deg, #000000, #272454);
}
/* #apply-holiday:active { */
/* 	background: linear-gradient(1deg, #000000, #272454); */
/* 	position:relative; */
/* 	top:3px; */
/* } */
#applypop {
	width: 100vw;
	height: calc(100% - 60px);
	position: absolute;
	background-color: #4c4c4c94;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	
}

.pop-container {
	background-color: white;
	width: 550px;
    height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
	box-sizing: border-box;
	box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);
	z-index: 1;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
   	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   	position: absolute;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.pop-titleContainer{
	display: flex;
    width: 44%;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}


.pop1 {
	width: 100%;
    height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}
.pop1-1{
	width: 100%;
    height: 89.99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.pop-title{
	font-weight: bold;
    font-size: 1.2em;
}
.count-nums{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}
.pop1 a {
	text-decoration: none;
/* 	padding: 20px; */
}
.pop2 {
	height: 12%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.pop2 > select{
	width:50%;
	height: 60%;
	padding: 0 2%;
	cursor: pointer;
}
.pop2-1{
	width:100%;
	height: 12%;

}
.pop2-3{
	width:100%;
	height: 30%;
}
.pop3 {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.pop4 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.pop4 p{
	height: 13%;
}
.pop4 #content{
	width: 100%;
    height: 80%;
    resize: none;
	padding: 2%;
	box-sizing : border-box;
}


.pop5 {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 9%;	
}

.pop5 form {
	width: 100%;
	height: 100%;
}
.pop-container>form{
	width: 100%;
	height: 100%;
}

#applypop .pop5 button {
	background-color: rgb(39 36 84);
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 4px;
	cursor: pointer;
}
#morning-off,#afternoon-off{
	border: 1px solid black;
    width: 48%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* #morning-off{ */
/* 	background-color:#272454; */
/* 	color: white; */
/* }  */
.halfType{
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    display:none;
/* 	transition: all 0.1s ease 0s; */
   	animation: show-button 0.3s cubic-bezier(0, 0, 0, 0) both;
}

@keyframes show-button {
  0% {
  	height: 8%;
    opacity: 0.5;
  }
  100% {
  	height: 12%;
    opacity: 1;
  }
}


.select-halfType{
	display: flex;
    height: 58%;
    width: 50%;
    justify-content: space-between;
}
.date-div{
	display: flex;
    justify-content: space-between;
    width: 70%;
    height:55%;
}
.date-div input{
    width: 45%;
    height: 100%;
    cursor: pointer;
}
	
.p{
	font-size:13px;
}
.important{
	color: #ff6a53;
}
input[type=radio]{ 
 	display: none;
 } 
#input1:checked ~ #morning-off,
#input2:checked ~ #afternoon-off{
	background-color: #272454;
	color: white;
}
.select{
	height: 30px;
	width: 100%;
/* 	border: 1px solid blue; */
	padding: 5px;
	display: flex;
    justify-content: center;
}
.num{
	height: 100%;
	width: 26px;
 	margin: 0 2px; 
	border: 1px solid #c1c1c1;
	display: flex;
	justify-content:center;
	align-items:center;
/* 	font-weight: bold; */
 	border-radius:3px; 
	font-size:11px;
	color: black;	
	cursor: pointer;
}
.num a{
text-decoration : none;
height: 100%;
width: 100%;
display: flex;
justify-content:center;
align-items:center;
}
.checked{
background-color: #272454;
color: white;
border: 1px solid #272454;
}

.notchecked:hover{
background-color: #959595;
color: black;
border: 1px solid #959595;
}



#detailpop {
	width: 100vw;
	height: calc(100% - 60px);
	position: absolute;
	background-color: #4c4c4c94;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#detailpop .pop5 button {
	background-color: rgb(39 36 84);
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 4px;

}




	table{
		border:0;
		font-size: 0.9em;
	}
	th, td {
	    border: none;
		height:35px;
 	    width: 100px; 
 	    white-space: nowrap;
 	    padding: 0.5em;
/* 	    white-space: nowrap; */
	    
	}
	
	#sortingYear{
		border:none;
		text-align: center;
	}
	.sortingYearSpan{
		color: black;
		font-weight: bold;
	}
/* 	th:nth-child(4), td:nth-child(4){ */
/* 		width:150px; */
/* 	} */
	.holiday-list tr th, .holiday-list tr td{
	text-overflow: ellipsis;
    overflow: hidden;
	}
	.holiday-list tr th:nth-child(5), .holiday-list tr td:nth-child(5){
	width: 220px;
	white-space: nowrap;
	}
	.holiday-list tr th:nth-child(6), .holiday-list tr td:nth-child(6){
		width: 300px;
		display: inline-block;
/*     width: 100%; */
/*     width: 22em; */
/*     overflow: hidden; */
/*     text-overflow: ellipsis; */
/*     white-space: normal; */
    	height: 1em;
/*     text-align: left; */
/*     word-wrap: break-word; */
/*     display: -webkit-box; */
/*     -webkit-line-clamp: 1; */
/*     -webkit-box-orient: vertical; */

/* 	text-overflow: ellipsis; */
/*     overflow: hidden; */
	}
	.sub-sub-title{
	    display: flex;
	    justify-content: space-between;
	    width: 100%;
	    height: 10%;
	    align-items: center;
	}
	.blueText{
		color:#2196f3;
	}
	.sub-sub-title > div{
	    display: flex;
	}
	.sub-sub-title h4{
/* 	    width: 10%; */
	    width: 130px;
	}
	.sub-sub-title p{
		font-weight: bold;
	}
	
	.holiday-list tbody tr:nth-child(odd){
	background-color: #f8f8f9;
	}
	.detail-container table tbody tr:nth-child(odd){
	background-color: #f8f8f9;
	}
	
	.count-nums{
	    justify-content: space-evenly;
	}
	.count-nums .holiday-count{
		color : #2196f3;
	}
	
	.holiday-list td a img {
	    width: 45%;
	}
	
	
	.modal .btn {
	    cursor: pointer;
/* 	    border: 1px solid #e1e1e1; */
	    text-align: center;
	    border-radius: 30px;
	    outline: none;
	    font-weight: 500;
	    width: 23%;
	    height: 40px;
	    margin: 0px 6px;
	    box-shadow: 0px 2px 7px -4px #3e3e3e;
	}
	.dimLayer{display: block;width: 100%;background-color: rgba(0, 0, 0, 0.3);position: fixed;left: 0;top: 0px;margin: 0;padding: 0;z-index: 9998;}
	.modal{
		width: 600px;height: 252px;border-radius: 10px;padding: 80px 24px;box-sizing: border-box;text-align: center;
	    transition: all 0.3s ease 0s;
	    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.modal-section {
	    background: #ffffff;
	    box-sizing: border-box;
	    display: none;
	    position: absolute;
	    transform: translate(-50%, -50%);
	    display: none;
	    z-index: 9999;
	    box-shadow: 0px 5px 20px -9px rgb(0 0 0);
	}
	.menu_msg{font-size: 20px;font-weight: 500;}
	.enroll_box p{
	padding-bottom: 50px; 
	color: #4c4c4c;
	}
	.gray_btn {
	width: 90px;
    background: #ffffff;
    color: #3c3c3c;
    height: 36px;
    line-height: 36px;
    transition: 0.5s;
    font-size: 17px;
    border: 1px solid #e1e1e1;
/*     text-shadow: 2px 2px 10px #afafaf; */
}





	.pink_btn {
    width: 90px;
    background: #219cf3;
    color: #fff;
    height: 36px;
    line-height: 36px;
    transition: 0.5s;
    font-size: 17px;
    border: none;
    border: 1px solid #0095ff;
    text-shadow: 2px 2px 3px #5c5c5c;
}

	
	
	.detail-container{
	 	width: 100%;
	    height: 100%;
	    display: flex;
	    /* justify-content: flex-start; */
	    flex-direction: column;
	    justify-content: space-around;
	    
	}
	.detail-container table tr{
/* 		background-color : white; */
	}
	.detail-container table,.detail-container table td {
		border-collapse: collapse;
		border:1px solid #dfdfdf;
		padding: 10px;

	}
	.detail-container table td:nth-child(1){
    	width: 100px;
    	text-align : center; 
	}
	.detail-container table tr:nth-child(4){
/*     	height: 13rem;  */
	}
	
	.approval-container{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    height: 23%;
	    font-weight: bold;
	    justify-content: center;
	}	    
	.approvalDate,.reject{
		height: 30px;
	}
	
	#pop-approvalDate, #pop-rejection_reason{
		font-weight: normal;
    	padding: 0 1em;	
	}
	#pop-approval{
		color : rgb(33, 150, 243);
	}
	#pop-hcontent{
	    display: block;
	    /* width: 100%; */
	    width: 22em;
	    overflow: auto;
	    text-overflow: ellipsis;
	    white-space: normal;
	    height: 11em;
	    text-align: left;
	    word-wrap: break-word;
	}
	.holiday-list td a{
/* 		border: 1px solid #d3d3d3; */
/* 	    width: 5.5em; */
/* 	    width: 70px; */
/* 	    font-size: 11px; */
/* 	    border-radius: 7px; */
/* 	    background: linear-gradient(1deg, #cdcdcd, #ffffff); */
/* 	    padding: 3% 0px; */
/*     	box-sizing: border-box; */
/*    	    font-weight: bold; */
/*      	color: #9f9f9f; */
    box-sizing: border-box;
    padding: 6px 0;
	cursor: pointer;
	}
	.holiday-list td a:hover{
 		transition: 0.3s; 
/* 		color:white; */
/* 		background: linear-gradient(1deg, #8d8d8d, #cdc9c9); */
	    color: white;
	    background-color: #e5e5e5;
	    border-radius: 10px;
	}
	
	@media screen and (max-width: 1490px){
		.holiday-list th, .holiday-list td {
/*  	        padding: 1% 0; */
   			font-size: 14px;
		}
		.select {
    		height: 30px;
    	}
		.sub-title {
		    width: 62%;
    	}
	}
@media screen and (max-width: 1280px){
	.holiday-list th, .holiday-list td {
/*  		padding: 1% 0; */
	    font-size: 14px;
    	white-space: nowrap;	
	}
	.holiday-list .thead tr th:nth-child(1),
	.holiday-list .thead tr th:nth-child(4),
	.holiday-list .thead tr th:nth-child(6),
	.holiday-list .tbody tr td:nth-child(1),
	.holiday-list .tbody tr td:nth-child(4),
	.holiday-list .tbody tr td:nth-child(6){
		display: none;
	}
	.div1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    }
}
@media screen and (max-width: 1050px) {
	#apply-holiday {
	    width: 90px;
	    font-size: 12px;
	}
}	

@media screen and (max-width: 668px) {
	.num {
	    height: 78%;
	    width: 20px;
    }
	.pop-titleContainer {
    	width: 64%;
    }
    .pop-container {
    width: 400px;
    padding: 6%
    }
    .count-nums {
    font-size: 0.8em;
    }
    .detail-container table, .detail-container table td {
    max-width: 225px;
    }
    .inner-outer-section {
    	width:100%
    }
}

